{% load static %}
<!DOCTYPE html>
<html>
    <head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>College Management System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'style.css' %} " rel="stylesheet">
    </head>
    <body id='body'>
        <div id="login">
            <form method="POST" , action="index">
                {% csrf_token %}
                <input class="btn btn-primary"" type="submit" value="FACULTY LOGIN" name="flogin"  id="button"/>
                <input class="btn btn-primary"" type="submit" value="STUDENT LOGIN" name="slogin" id="button"/>
            </form>
            
         </div>
        <script src="" async defer></script>
    </body>
</html>