{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="body">
        <center>
            {% if user.is_authenticated%}
            <h1> Welcome {{std.name}} </h1>
            <h4> Your last login is {{user.last_login}} </h4>
            <h1> Your roll is {{std.rollno}}</h1>
            <h4> DEPT : {{std.department}} </h4>
            <h3> Attendance : {{std.attendence}} </h3>
            <div>
                <h2> Your Registered Subjects are </h2>
                {% for std in std.subjects.values %}
                    <h2>{{std}}</h2>
                {% endfor %}

            </div>
            <a href='sleave'> Apply for leave </a>
            <a href='yourleaves'> Your Leaves </a>

            



            {% endif %}
        </center>
        <a href="logout" >Logout</a>
        
        <script src="" async defer></script>
    </body>
</html>