<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-color: #2C3639; color: aliceblue;">
        <a href='shome'> Home  </a>
        <div style="font-size: 1.6em;">
            {% for leave in leaves %}
            <div>Date : {{leave.d_o_l}}</div>
            <div>Type of leave : {{leave.type_of_leave}}</div>
            <div> Reason : {{leave.reason_for_leave}} </div>
            <div> Faculty : {{leave.faculty_name}} </div>
            {% if leave.is_granted == 0 %}
                <h4 style="color: blueviolet;"> Not Granted </h4>
            {% elif  leave.is_granted == -1%}
                <h4 style="color: red;"> Rejected </h4>
            {%else%}
                <h4 style="color: green;"> Granted</h4>
            {% endif %}
            <br>
            {% endfor %}
        </div>
        
        <script src="" async defer></script>
    </body>
</html>